{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "bracketSameLine": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "embeddedLanguageFormatting": "auto",
  "trailingComma": "none",
  "htmlWhitespaceSensitivity": "css",
  "singleAttributePerLine": true
}
